body {
	background-color: #adca68;
}

#name {
	position: absolute;
	width: 350px;
	height: 75px;
	top: 50%;
	left: 50%;
	margin: -200px 0 0 -175px;
}

#input-name {
	width: 350px;
	height: 75px;
	text-align: center;
	font-size: 50px;
}

#menu {
	position: absolute;
	width: 150px;
	height: 140px;
	top: 50%;
	left: 50%;
	margin: -70px 0 0 -75px;
}

#playBut {
	position: relative;
	width: 150px;
	height: 70px;
	font-size: 25px;
}

#optionsBut {
	position: relative;
	width: 150px;
	height: 70px;
	top: 35px;
	font-size: 25px;
}

#options {
	position: absolute;
	width: 80%;
	height: 80%;
	top: 10%;
	left: 10%;
	background-color: #d9ba54;
	border: 10px solid #897329;
	display: none;
}

#closeOptions {
	position: relative;
	width: 100px;
	height: 40px;
	left: 50%;
	top: 95%;
	margin: -80px 0 0 -50px;
}

#canvas {
	display: none;
}